:root {
    --fontSize: 50px;
    --black: #000000;
    --englishCrem: #ccc;
    --englishRed: #d83133;
    --englishBlue: #0065c3;
    --white: #fff;
    --germanyYellow: rgb(255, 217, 0);
    --germanyGreen: rgb(14, 163, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

.mainIndex {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

.header {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titleLetter {
    font-size: var(--fontSize);
    color: var(--white);
}

.titleLetter:hover {
    color: orange;
}

.br {
    width: 100%;
    height: 50px;
}

.listOfBooks {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    /*background-color: var(--englishCrem);*/
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: var(--englishBlue);*/
    clip-path: circle(140px at center);
    transition: 0.5s;
}

#english .englishCircle::before {
    background-color: var(--englishBlue);
}

#germany .germanyCircle::before {
    background-color: var(--germanyGreen);
}

#english:hover .circle:before {
    background-color: var(--englishRed);
    clip-path: circle(400px at center);
}

#germany:hover .circle:before {
    background-color: var(--germanyYellow);
    clip-path: circle(400px at center);
}

.card img {
    width: 218px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 72%;
}

.cardContent {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .cardContent {
    left: 0%;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.card .cardContent h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.card .cardContent p {
    color: var(--white);
}

.card .cardContent a {
    position: relative;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
    margin-top: 10px;
    text-decoration: none;
    font-weight: 710;
}

@media (max-width: 738px) {
    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }
    .card .cardContent {
        width: 100%;
        left: 0;
        padding: 30px;
    }
    .card img {
        top: 70%;
        left: 50%;
        height: 320px;
    }
    .listOfChapters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
    }
}

.listOfChapters {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.chapter {
    width: 450px;
    height: 300px;
    margin: 60px 0;
    transform-style: preserve-3d;
    background-color: var(--black);
}

.chapter:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.1);
}

.chapter .imgChapter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.chapter .contentChapter {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: var(--white);
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
}

.chapter:hover .contentChapter {
    transform: translateZ(20px) scaleY(1);
}


/* -- CARDS--*/

.cardChapter {
    position: relative;
    width: 15%;
    height: 40vh;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    color: black;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.iconChapter {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    clip-path: circle(60px at center 0);
    text-align: center;
}

.iconChapter i {
    font-size: 2em;
    padding: 20px 0;
}

.contentChapter {
    position: absolute;
    bottom: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.listOfChapters:hover .cardChapter {
    filter: blur(5px);
    transform: scale(0.9);
    opacity: 0.5;
}

.listOfChapters .cardChapter:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 0.5;
}

@keyframes moveLetter {}